<div class="container-fluid" id="texto">
  <h4 id="titulocontacto">EDITAR PRODUCTO</h4>
</div>
<div class="container">
  <form>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Números Disponibles</label>
    <input type="url" class="form-control" id="exampleInputPassword1" formControlName='numero'>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Imagen</label>
    <input type="url" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Precio</label>
    <input type="url" class="form-control" id="exampleInputPassword1" formControlName='precio'>
  </div>

    <button type="submit" class="btn btn-primary" id="liveAlertBtn">Agregar</button>


</form>
</div>
