
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3" class="menu">
    <li class="nav-item"><a href="inicio" class="nav-link px-2 text-muted">Inicio</a></li>
    <li class="nav-item"><a href="productos" class="nav-link px-2 text-muted">Productos</a></li>
    <li class="nav-item"><a href="contacto" class="nav-link px-2 text-muted" >Contacto</a></li>
  </ul>
  <div class="container" class="margenderecho">
     <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" >
       <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1662524771&extra_1=s%7Cc%7C320628650080%7Ce%7Cfacebook%7C&placement=&creative=320628650080&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1662524771%26adgroupid%3D67039035794%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9041079%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjw2bmLBhBREiwAZ6ugo1hxeNmNdcy0g6-zvzdULJxqwLou6CXbN1AQmnajRsWcjyR_dSPBFxoC_08QAvD_BwE">
        <li class="ms-3"><a class="text-muted" href=""><svg class="bi" width="50" height="50"><use xlink:href=""></use></svg></a><i class="bi bi-facebook"></i></li>
      </a>
      <a href="https://twitter.com/home?lang=es">
        <li class="ms-3"><a class="text-muted" href=""><svg class="bi" width="50" height="50"><use xlink:href=""></use></svg></a><i class="bi bi-instagram"></i></li>
      </a>
      <a href="https://www.instagram.com/?hl=es">
        <li class="ms-3"><a class="text-muted" href=""><svg class="bi" width="50" height="50"><use xlink:href=""></use></svg></a><i class="bi bi-twitter"></i></li>
      </a>

  </ul>
</div>

</footer>

