
.py-3 {
    padding-bottom: 1rem!important;
    background-color: black;
}
.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 0.1rem!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* hoja de estilo del agente de usuario */
footer {
    display: block;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.margenderecho{
    margin-left: 36%;
    margin-top:2%;
    margin-bottom: 2%;
}

