<!-- <footer style="background-color: #b9b9b9; " role="contentinfo">
    <div class="footer__logo">
  
  
      <div class="footer__logo-text"></div>
  
    </div>
    <div class="footer__text">
      <div class="footer__content flex-column">
        <div class="footer__row text-center">
          <p style="text-align: center;">&nbsp;</p>
  <p style="text-align: center;">© 2021&nbsp;<a href="http://cocacoladeargentina.com.ar/" target="_blank">Coca-Cola Argentina</a>, Todos los derechos reservados,&nbsp;<a href="/ar/es/terminos-y-condiciones">Términos y Condiciones</a>&nbsp;|&nbsp;<a href="/ar/es/politicas-de-privacidad" target="_self">Políticas de Privacidad</a>&nbsp;|&nbsp;<a href="/ar/es/ganadores-plan-clientes" target="_self">Ganadores Plan Clientes</a>&nbsp;|&nbsp;<a href="/ar/es/bases-mini-coca-cola">Bases Mini Coca-Cola</a>&nbsp;|&nbsp;<a href="/ar/es/promo-vale-otra-andina">Promo Vale Otra ANDINA</a>&nbsp;|&nbsp;<a href="/content/dam/brands/slbu/coca-cola/documents/updates/80811/promo-tablitas.pdf" target="_blank">Promo Tablita</a></p>
  
        </div>
      </div>
    </div>
  </footer>
   -->





   <div class="col-lg-12">



    <div id="ctl00_ctrlFooter_pnlFooterLinks" class="row">

        <div class="col-xs-12 col-sm-3" style="padding-bottom:30px">

            <h5>Empresa</h5>
            <hr class="footer">
            <ul>
                <li>
                    <a id="ctl00_ctrlFooter_cmsEmpresa" href="/contenido/empresa">Empresa</a></li>
              
                <li>
                    <a id="ctl00_ctrlFooter_cmsLocales" href="/contenido/locales">Locales</a></li>
           
                <li>
                    <a href="/contenido/lookbook-stephanie-ss-22">Lookbook</a></li>
                
                <li>
                    <a id="ctl00_ctrlFooter_cmsVideos" href="/campana-videos">Videos</a></li>
            
                <li>
                    <a id="ctl00_ctrlFooter_cmsCampaña" href="/campana-fotos/stephanie-demner-aw21">Campañas anteriores</a></li>

                <div id="ctl00_ctrlFooter_pnlNewsletterFooter">
    
                    <li><a href="/suscripcion-al-newsletter">Newsletter</a></li>
                    
                
</div>
                
            </ul>

        </div>
        <div class="col-xs-12 col-sm-3" style="padding-bottom:30px">

            <h5>Información</h5>
            <hr class="footer">
            <ul>
                <li>
                    <a id="ctl00_ctrlFooter_cmsMediosDeEnvio" href="/contenido/medios-de-envio">Medios de Envío</a>
                </li>
                <li>
                    <a id="ctl00_ctrlFooter_cmsCambiosyDevoluciones" href="/contenido/cambios-y-devoluciones">Cambios y devoluciones</a>
                </li>
                <li>
                    <a id="ctl00_ctrlFooter_cmsPromociones" href="/contenido/promociones">Promociones</a>
                </li>
                <li>
                    <a id="ctl00_ctrlFooter_cmsTerminosyCondiciones" href="/contenido/terminos-y-condiciones">Términos y condiciones</a>

                </li>

            </ul>

        </div>
        <div class="col-xs-12 col-sm-3" style="padding-bottom:30px">

            <h5>Mi cuenta</h5>
            <hr class="footer">
            <ul>
                <li>
                    <a id="ctl00_ctrlFooter_hplHome" href="/inicio">Home</a></li>
                
                <li>
                    <a id="ctl00_ctrlFooter_hplShoppingCart" href="/shoppingcart">Carrito</a></li>
                <li>
                    <a id="ctl00_ctrlFooter_hplWishList" href="/wish-list">Lista de Deseos</a></li>
                <li>
                    <a id="ctl00_ctrlFooter_cmsComoComprar" href="/contenido/como-comprar">Cómo comprar</a></li>




                
                
            </ul>

        </div>
        <div class="col-xs-12 col-sm-3" style="padding-bottom:30px">

            <h5>Ayuda</h5>
            <hr class="footer">
            <ul>
                <li>
                    <a id="ctl00_ctrlFooter_cmsCuidadosDelCalzado" href="/contenido/cuidados-del-calzado">Cuidados del calzado</a>
                </li>
                <li>
                    <a id="ctl00_ctrlFooter_cmsFAQ" href="/contenido/preguntas-frecuentes">Preguntas frecuentes</a>
                </li><li>
              
                </li><li>
                    <a id="ctl00_ctrlFooter_hplContact" href="/contacto">Contacto</a></li>
            </ul>

        </div>

    
</div>
</div>