<div class="container-fluid" id="texto">
  <h4 id="titulocontacto"> NUEVO PRODUCTO</h4>
</div>
<form [formGroup]="formulario">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">
      <p>Nombre</p>
    </label>
    <input type="text" class="form-control" id="exampleInputPassword1" formControlName='nombre'>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="exampleInputPassword1" formControlName='descripcion'>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Números Disponibles</label>
    <input type="url" class="form-control" id="exampleInputPassword1" formControlName='numero'>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Precio</label>
    <input type="url" class="form-control" id="exampleInputPassword1" formControlName='precio'>
  </div>
  <div class="mb-3"> <label for="exampleInputPassword1" class="form-label">Imagen</label></div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile01" (change)=seleccionarImagen($event)>
  </div>
  <button type="submit" class="btn btn-primary" (click)="guardarProducto()">Agregar</button>
</form>
