#laimagen{
    background-repeat: no-repeat;
     height:500px;
    background-size:contain;
    background-image: url("https://th.bing.com/th/id/OIP.WwrtFTuPwbsLaTZfvV-9nAHaGN?w=234&h=196&c=7&r=0&o=5&pid=1.7");
}
#subesube1{
    margin-top:-63% !important;
    text-align:center;
}
#subesube2{
  margin-top:-53% !important;
  text-align:center;
}
#subesube3{
  margin-top:-48% !important;
  text-align:center;
}
h5{
  font-size: 30px;
  color:black;
}
p{
  font-size: 25px;
  color:black;
}
.carousel-inner{
  height:600px !important;
 }

 .titulosecciones{
   background-color: rgb(132, 138, 136);
   text-align: center;
   font-size: large;
   color:black;
   margin-top:1%;
   width:100%;
 }
 *{
  font-family:Georgia, Times, 'Times New Roman', serif;
}
img{
  opacity:0.8;
}
