<div class="grid" id="contacto">
  <div class="col">
    <img src="https://www.questionpro.com/qp_userimages/sub-3/3175908/grafico-pregunta-de-informacion.jpg">
  </div>
  <div class="col">
    <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog"
      id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 class="fw-bold mb-0">Sign up for free</h2>
           
          </div>

          <div class="modal-body p-5 pt-0">
            <form class="">
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <p class="btn btn-light" class="categorias">CATEGORÍAS</p>
</div>

<div class="grid" id="sucursales">
  <div class="col">
    <div class="container">
      <p class="btn btn-light" class="categorias">sucursales</p>
     </div>
    
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.8372647489196!2d-67.99256108489644!3d-38.92769690636871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30e7ab1a448f%3A0x931e0658140bd6e2!2sMargus!5e0!3m2!1ses-419!2sar!4v1635777984895!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.8372647489196!2d-67.99256108489644!3d-38.92769690636871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30e7ab1a448f%3A0x931e0658140bd6e2!2sMargus!5e0!3m2!1ses-419!2sar!4v1635777984895!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

</div>