
#contacto{
  margin:  auto;
display: block;
}

#infocontacto{
  background-color: #fbfbfb;
  margin-top:30px;
}
#sucursales{
  background-color:rgb(241, 241, 241);
  margin-left:auto;
}
#redessociales{
  font-size: 20px;
}

h1{
  font-weight: 900;
}
p{
  text-align: center;
}
#imagen1{
  width:100% !important;
  height:301px;

}
#texto{
  border-width: 10px;
  border-style: solid;
  border-color: rgb(149, 151, 238);
  background-color: #dbd6d6;
}
#titulocontacto{
  font-size: 60px;
  text-align: center;
  font-weight:800;
  color:rgb(0, 0, 0);
  font-family: 'Mochiy Pop One';
  margin-bottom: -4px;

}
.titulos{
  font-weight: 900;
  margin-top: 4%;
}

#redesfondo{
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}


h1{
  text-align: center;
}
.categorias{
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 1000;
  font-size: 40px;
}


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


/* formulario */
.contact_form{  
  width: 500px; 
  height: auto;
  margin-left : 100px;
  margin-top:30px;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #ece6e6; 
  border-width: 5px;
  border-style: solid;
  border-color: rgb(149, 151, 238);
}
iframe{
  margin-left: 50px;
}

input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: rgb(149, 151, 238);
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: rgb(149, 151, 238);
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

button{
  margin-left:8%;
}
label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color:rgb(149, 151, 238);
  border-color:rgb(149, 151, 238);
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: rgb(149, 151, 238);
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color:rgb(149, 151, 238);
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}



