
#contacto{
  background-color: rgb(45, 141, 219);
}
#sucursales{
  background-color:rgb(201, 175, 175);
}
img{
  width:700px;
}
.separador{
  background-color: aqua;
  height:50px;
  font-size: 30px;
  color:black;
  text-align: center;
  margin:3%;
}

