
<div class="grid" id="contacto">
	<div class="col">
  <img src="https://www.questionpro.com/qp_userimages/sub-3/3175908/grafico-pregunta-de-informacion.jpg">
	</div>
	<div class="col">
	
	</div>
  
  </div>
  
<div class="separador">
	<h1> SUCURSALES </h1>
</div>
<div class="grid" id="sucursales">
  <div class="col">
<div class="container">
	<h1> SEDE CENTRAL</h1>
	<p>Ni idea</p>
</div>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6207.402505451338!2d-67.98690015501705!3d-38.93080531482125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1635252964252!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

</div>
