
  <div class="row p-2">
    <div class="col-3"  *ngFor="let producto of productos">
      <div class="card" style="width: 15rem">
        <img src="{{ producto.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">
            {{ producto.descripcion }}      
          </p>
           <button class="btn btn-danger" (click)="eliminarProducto(producto.id)"> Eliminar</button>
        </div>
      </div>
    </div>
  </div>



  
  <div class="grid">
    <div class="col">1</div>
    <div class="col-2">

    </div>    
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
</div>
  