<div class="grid">
  <div class="col-2">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Mujer
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Hombre</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Hombre
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Mujer</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Niños
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder .</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Unisex
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder .</div>
        </div>
      </div>
    </div>

  </div>





  <div class="col-10">

    <div class="container">
      <div class="row">
        <div class="shop-card" *ngFor="let producto of productos">
          <div class="title">
            {{ producto.nombre }}
          </div>
          <div class="slider">
            <figure data-color="#E24938, #A30F22">
              <img src="{{ producto.url }}" class="card-img-top" alt="..." />
            </figure>
          </div>
          <div class="desc">
        <b> Descripción : </b>  {{ producto.descripcion }}
          <br>
        <b> Números:</b>  {{ producto.numero }}
          </div>
          <div class="cta">
            <div class="price">
       <b> Precio: </b> $ {{producto.precio}}
            </div>
            <div class="card-body">
              <button class="btn btn-5 btn-5 bi bi-trash-fill"
                (click)="eliminarProducto(producto.id)"><span>Eliminar</span></button>
              <a href="editar"><button
                  class="btn btn-5 btn-5 bi bi-file-earmark-plus-fill"><span>Editar</span></button></a>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
