<div class="container-fluid" id="texto">
  <h4 id="titulocontacto"> PRODUCTOS</h4>
</div>

<div class="grid">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="shop-card" *ngFor="let producto of productos">
          <div class="slider">
            <figure data-color="#E24938, #A30F22">
              <img src="{{ producto.url }}" class="card-img-top" alt="..." />
            </figure>
          </div>
          <div class="title">
            {{ producto.nombre }}
          </div>
          <div class="categoria">
            {{producto.cat}}
          </div>

          <div class="desc">
            {{ producto.descripcion }}
            <br>
            {{ producto.marca }}
            <br>
            <b> Números:</b> {{ producto.numero }}
            <br>
            <div class="price">
              $ {{producto.precio}}
            </div>
          </div>
          <div *ngIf="logueado" class="shop-card2">
            <div class="cta">
              <div class="card-body">
                <button class="btn btn-5 btn-5 bi bi-trash-fill"
                  (click)="eliminarProducto(producto.id)"><span>Eliminar</span></button>
              </div>
            </div>
          </div>
          
        </div>
<!--   
        <div  class="shop-card2" *ngFor="let producto of productos">
          <div *ngIf="logueado"   class="shop-card2">
            <div class="cta">
              <div class="card-body">
                <button class="btn btn-5 btn-5 bi bi-trash-fill"
                  (click)="eliminarProducto(producto.id)"><span>Eliminar</span></button>
              </div>
            </div>
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
<div  class="botonesapartados">
  <div *ngIf="logueado">
    <div class="col" id="botonagregar">
      <div class="container">
        <a href="storage"><button class="btn btn-5 btn-5 bi bi-file-earmark-plus-fill"><span>Agregar</span></button></a>
      </div>
    </div>
  
    <div class="col" id="botonagregar">
      <div class="container">
        <a href="agregar"><button class="btn btn-5 btn-5 bi bi-file-earmark-plus-fill"><span>Agregar por
              Link</span></button></a>
      </div>
    </div>
  </div>
  
   
</div>

</div>